:root {
    --accent: #58A5FF;
    --green: #58ff82;
    --red: #ff5858;
    --primary: #333333;
    --secondary: #1B1E21;
    --bg: #191d20;
    --gray: gray;
}

html, body { background-color: white; overflow: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.center {
    align-items: center;
    justify-content: center;
}

.hover:hover {
    transition-duration: .35s;
    transform: translate(0, -3px);
}
