.content {
    gap: 25px;
    overflow: hidden;
    height: 100%;
    align-items: center;
}

.content  > .header {
    margin-top: 25px;
}

.selection {
    margin-top: 30%;
    width: 90%;
    height: fit-content;
    gap: 15px;
}

.selection > .content {
    gap: 10px;
}

.tab {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(25px, -50%);
    height: 50%;
    width: 25px;
    background-color: var(--accent);
    border-radius: 0px 16px 16px 0px;
    cursor: pointer;
}

.tab > .text {
    transform: rotate(-90deg);
    width: 100%;
    min-width: 100px;
}

.compare-item {
    gap: 10px;
    width: 95%;
}

.compare-item > .sbom {
    padding: 0px 15px;
    background-color: var(--secondary);
    gap: 10px;
    width: 100%;
    height: 50px;
    border-radius: 12px;
    align-items: center;
}

.compare-item > .sbom > * {
    margin-left: auto;
    cursor: pointer;
}