<app-side-panel tabText="SBOM LIST">
  <div class="content flex col">
    <div class="header">SBOM List</div>
    <div class="selection flex col">
      <div class="header">Select SBOM</div>
      <div class="content flex col">
        <div
          class="compare-item flex"
          *ngFor="let item of GetSBOMs(); let i = index"
        >
          <input type="radio" name="sbom" (click)="SetSelectedSBOM(item)" />
          <div class="sbom flex">
            {{ getSBOMAlias(item) }}
            <icon icon="question_mark" />
          </div>
        </div>
      </div>
    </div>
  </div>
</app-side-panel>
