<div id="main-wrapper">
  <app-side-panel tabText="SBOM list">
    <form class="content flex col">
      <div class="header">SBOM LIST</div>
      <div class="selection flex col">
        <div class="header flex">
          <span>Target</span>
        </div>
        <div class="content">
          <app-dropdown
            [options]="GetValidSBOMs()"
            key="name"
            (selectionChange)="targetSbom = $event"
          />
        </div>
      </div>
      <div class="selection flex col">
        <div class="header">Comparisons</div>
        <div class="content flex col">
          <div
            class="compare-item flex"
            *ngFor="let sbom of GetValidSBOMs(); let i = index"
          >
            <input
              type="checkbox"
              name="comparison"
              [value]="sbom"
              (click)="selectComparison(sbom)"
              [disabled]="sbom === targetSbom"
            />
            <div class="sbom flex">
              {{ getSBOMAlias(sbom) }}
              <icon icon="question_mark" />
            </div>
          </div>
        </div>
      </div>
      <app-button
        icon="compare_arrows"
        (click)="compare()"
        class="addSBOMScenter"
        >COMPARE</app-button
      >
    </form>
  </app-side-panel>
  <app-comparison [comparison]="GetComparison()" />
</div>
