<app-button (click)="filterConflicts()">{{filtered ? 'Show All' : 'Show Conflicts'}}</app-button>
<div *ngIf="comparison" class="comparison">
  <div class="header">
    <span
      class="path"
      *ngFor="let title of pathTitles; let i = index"
      (click)="decreaseDepth(i)"
      >{{ title.trim() + "/" }}</span
    >
  </div>
  <div>
    <div *ngIf="path.length === 1">
      <app-accordion
        *ngFor="let key of keys"
        [extra]="[display[key].length + ' Ver(s)']"
        (click)="increaseDepth(display[key], key)"
      >
        <span title> {{ key }} </span>
      </app-accordion>
    </div>

    <div *ngIf="path.length === 2">
      <app-accordion
        *ngFor="let version of path[1]"
        [extra]="[version?.appearances.length + ' Occurrence(s)']"
        (click)="increaseDepth(version, version.componentVersion)"
      >
        <span title> {{ version.componentVersion }} </span>
      </app-accordion>
    </div>

    <div *ngIf="path.length === 3">
      <div *ngFor="let attribute of attributes | keyvalue">
        <app-accordion
          *ngIf="attribute.value.length"
          [extra]="[attribute.value.length + ' Value(s)']"
        >
          <span title> {{ attribute.key }}</span>
          <div body>
            <app-accordion
              *ngFor="let value of attribute.value"
              [extra]="[value.appearances?.length + ' Occurence(s)']"
            >
              <span title style="color: white"> {{ value.uniqueId }} </span>
              <div body>
                <div *ngFor="let sbom of value.appearances">
                  SBOM {{ sbom }}
                </div>
              </div>
            </app-accordion>
          </div>
        </app-accordion>
      </div>
    </div>
  </div>
</div>
