<mat-horizontal-stepper linear #stepper style="height: 100%; width: 100%" >
  <mat-step [completed]="GetValidSBOMs().length >= 1">
    <ng-template matStepLabel>
      <mat-icon>drive_folder_upload</mat-icon>
      <div>Upload SBOMS</div>
    </ng-template>
    <app-upload></app-upload>
    <app-button *ngIf="GetValidSBOMs().length >= 1" icon="navigate_next" backgroundColor="var(--accent)" (click)="stepper.next()">Next</app-button>
  </mat-step>

    <mat-step  [completed]="GetValidSBOMs().length >= 2">
      <ng-template matStepLabel>
        <mat-icon>insert_chart_outlined</mat-icon>
        <div>Metrics</div>
      </ng-template>
      <app-metrics-main></app-metrics-main>
      <div class="stepper-buttons">
        <app-button icon="navigate_before" backgroundColor="gray" (click)="stepper.previous()">Previous</app-button>
        <app-button *ngIf="GetValidSBOMs().length >= 2" icon="navigate_next" backgroundColor="var(--accent)" (click)="stepper.next()">Next</app-button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        <mat-icon>compare_arrows</mat-icon>
        <div>Compare</div>
      </ng-template>
      <app-comparison-page></app-comparison-page>
      <div class="stepper-buttons">
        <app-button icon="navigate_before" backgroundColor="var(--accent)" (click)="stepper.previous()">Previous</app-button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
