name: Build SVIP
on: 
  push:
    # Exclude prod/dev branches since they are built and tested
    branches-ignore:  
      - 'dev'   # todo: replace with vars
      - 'main'  # todo: replace with vars
    paths-ignore:
      - '**/resources/**'
      - '**/sample_sboms/**'

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3.5.2
        
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        
      - name: Build SVIP
        run: ./gradlew clean build -x test
